.skeleton-tree-section{
  padding: 20px;
  hr{
    background-color: var(--hr);
    height: 1px;
  }
  .skeleton-tree{
    .tree-node-1{
      margin: 8px 0;
    }
    .tree-node-2{
      margin: 8px 0 5px 15px;
    }
    .tree-node-3{
      margin: 8px 0 5px 15px;
    }
  }
}
