.dashboard-sidebar{
  background-color: var(--sidenav-color);
  border-right: 1px solid #283144;
  &.fixed-sidebar{
    position:fixed;
    overflow-y: auto;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    z-index:999;

  }
  .sidebar-menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    .menu-1{

    }
    .menu-2{

    }

  }
  .logo {
    min-height: 80px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    .logo-icon{
      margin: 5px auto 0 auto;
      width: 30px;
      transition: all 0.8s ease;
    }
    .logo-text{
      margin: 16px 16px 0 16px;
      transition: all 0.8s ease;
      display: flex;
      align-items: center;
      gap: 10px;
      span{
        font-size: 32px;
        color:white;
        transition: all 0.8s ease;
        &.show{
          opacity: 1;
          transition: all 0.8s ease;
        }
        &.hide{
          opacity: 0;
          display: none;
          transition: all 0.8s ease;
        }
        b{
          font-weight: 800;
        }

      }
    }
  }

  &.ant-layout-sider-collapsed{
    // Trigger
    .ant-layout-sider-trigger{
      transform: rotate(0deg);
      transition: 0.5s;
    }
    // Trigger
  }
  .ant-layout-sider-zero-width-trigger {
    top: 40px;
    left: 90%;
    position: absolute !important;
    width: 23px !important;
    height: 23px;
    z-index: 9999999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #646C7C;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 0;
    transform: rotate(180deg);
    transition: 0.5s;
    &:after{
      background-color: transparent;
    }
  }
  // Trigger
  .ant-layout-sider-trigger{
    top: 36px;
    position: absolute !important;
    width: 23px !important;
    height: 23px;
    right: -10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #646C7C;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 0;
    transform: rotate(180deg);
    transition: 0.5s;
  }
  // Trigger
  .ant-menu-inline{
    &.ant-menu-dark{
      .ant-menu-item{
        margin: 0;
        .ant-menu-title-content{
          color: #DEDEDE;
          a{
            color: #DEDEDE;
          }
        }
        &:hover{
          background-color: var(--sidenav-text-hover);
          color:var( --text-color-white);
          svg path{
            fill:  var(--sidenav-primary);
          }
        }

        //Selected
        &.ant-menu-item-selected{
          background-color:var(--sidenav-text-hover) !important;
          .ant-menu-item-icon {
            svg{
              //background-color: green;

              path {
                fill: var(--sidenav-primary);
              }
            }

          }
          .ant-menu-title-content{
            color: var(--sidenav-primary);
          }
        }
      }
    }

  }
  .ant-menu-dark{
    background-color:var(--sidenav-color);
    .ant-menu-item{
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      margin: 0;
      &:hover{
        background-color: #161B27;
        color: var( --text-color-white);
        svg path{
          fill:  var(--sidenav-primary);
        }
      }
      .list-icon{
        margin-right: 15px;
        position: relative;
        &:after{
          position: absolute;
          content:'';
          background-color: transparent;
          top: 7px;
          left: -3px;
          height: 45px;
          width: 45px;
          border-radius: 50%;
        }
        svg{

        }
      }

    }
    .ant-menu-submenu{
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: #DEDEDE;
      &:hover{
        background-color:var(--sidenav-text-hover);
        color:var( --text-color-white);
        .ant-menu-title-content{
          color:var( --text-color-white);

        }
        svg path{
          fill:  var(--sidenav-primary);
        }
      }
      .list-icon{
        margin-right: 15px;
      }
      .hello{

      }

      //  Sub menu
      &.ant-menu-submenu-open{
        background-color:var(--sidenav-text-hover);
        .ant-menu-sub{
          background-color: var(--sidenav-text-hover);
        }
        .ant-menu-item-icon {
          svg path {
            fill: var(--sidenav-primary);
          }
        }
        .ant-menu-title-content{
          color: var(--sidenav-primary);
        }
      }
      .ant-menu-sub{
        background-color: var(--sidenav-text-hover);
        .ant-menu-item{
          .ant-menu-title-content{
            font-weight: 400;
            font-size: 18px;
            color: #646C7C;
          }
        }
      }

    }
  }

  //Collapsed
  .ant-menu-inline-collapsed{
    &.ant-menu-dark{
      .ant-menu-item{
        &:hover{
          background-color: transparent;
          color: var( --text-color-white);
          .list-icon{
            margin-right: 15px;
            &:after{
              transition: 0.3s ease-in-out;
              background-color: var( --sidenav-text-hover-after);
            }
            svg{
              z-index: 9;
              path{
                fill: var(--sidenav-primary) ;
              }

            }
          }
        }
        //Selected
        &.ant-menu-item-selected{
          background-color:transparent;
          .list-icon{
            margin-right: 15px;
            &:after{
              transition: 0.3s ease-in-out;
              background-color:var( --sidenav-text-hover-after);
            }
            svg{
              z-index: 9;
              path{
                fill: var(--sidenav-primary) ;
              }

            }
          }
          .ant-menu-title-content{
            color: var(--sidenav-primary);
          }
        }
      }
      .ant-menu-submenu{
        &.ant-menu-submenu-open{
          background-color:transparent;
          .list-icon{
            margin-right: 15px;
            position: relative;
            &:after{
              position: absolute;
              content:'';
              background-color:var( --sidenav-text-hover-after);
              top: 7px;
              left: -3px;
              height: 45px;
              width: 45px;
              border-radius: 50%;
            }
            svg{
              z-index: 9;
              path{
                fill: var(--sidenav-primary) ;
              }

            }
          }
          .ant-menu-title-content{
            color: var(--sidenav-primary);
          }
        }
      }
    }

  }



}
.dashboard-sidebar .ant-menu-dark .ant-menu-item {
  padding-left: 20px !important;
}
.dashboard-sidebar .ant-menu-dark .ant-menu-submenu-title {
  padding-left: 20px !important;
  margin: 0 !important;
}
.dashboard-sidebar .ant-menu-dark .ant-menu-sub .ant-menu-item-only-child{
  padding-left: 85px !important;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  left: 0;
  /* padding: 0 calc(50% - 16px / 2); */
  padding-left: 20px;
  text-overflow: clip;
}
.dashboard-sidebar .ant-menu-dark .ant-menu-item .list-icon {
  margin-right: 3px;
  height: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  //background: red;
  width: 40px;
}
.dashboard-sidebar .ant-menu-dark .ant-menu-submenu .list-icon {
  margin-right: 3px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  //background:green;
  width: 40px;
}
.dashboard-sidebar .ant-menu-dark .ant-menu-submenu  {
  height: 60px;
  transition: 0.3s ease-in-out;
  //background-color: yellow;
}

.dashboard-sidebar .ant-menu-dark .ant-menu-submenu.ant-menu-submenu-open {
  background-color: var(--sidenav-text-hover);
  min-height: 60px;
  height: 100%;
  transition: 0.3s ease-in-out;
}
.dashboard-sidebar .ant-menu-dark .ant-menu-submenu.ant-menu-submenu-open .list-icon {
  height: 60px;
}
.dashboard-sidebar .ant-menu-dark .ant-menu-item {
  height: 60px;
}

.ant-menu-dark.ant-menu-inline .ant-menu-submenu-title {
  margin: 0 !important;
  height: 100%;
}
.ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  left: 0;
  height: 60px;
  margin: 0px;
  padding-left: 20px;
  text-overflow: clip;
}

//Sub mneu styling
.ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  color: rgba(255, 255, 255, 0.65);
  background:  var(--sidenav-color) !important;
}



// Side bar Scroll bar
/* width */
.dashboard-sidebar::-webkit-scrollbar {
  width: 0.313rem;
  border-radius: 20px;
}

/* Track */
.dashboard-sidebar::-webkit-scrollbar-track {
  background:#161B27;
}

/* Handle */
.dashboard-sidebar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 20px;
}

/* Handle on hover */
.dashboard-sidebar::-webkit-scrollbar-thumb:hover {
  background: #555;
}