.dashboard-analyticsr{
  .dashboard-filter{
    background: white;
    padding: 15px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow:0 0 5px rgba(0,0,0,0.05)
  }
  .dine-in{
    background-color: #0178e5;
  }
  .online{
    background-color: #F5697A;
  }
  .take-away{
    background-color: #FCBB36;
  }
  .delivery{
    background: #6EC9A8;
  }
  .stats-card{
    background: white;
    box-shadow:0 0 5px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    border-radius: 5px;
    margin: 10px 0 25px 0;
    .stats-content{
      flex-grow: 1;
      h4{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 23px;
        color: #0C1F41;
        margin-bottom: 5px;
      }
      h5{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #B6BCC2;
        margin-bottom: 0;
      }
    }
    .stats-icon{
      svg{
        font-size: 50px;
        color: #0178e5;
      }
    }
  }
  .stats-card-2{
    box-shadow:0 0 5px rgba(0,0,0,0.05);
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    border-radius: 5px;
    margin: 10px 0 25px 0;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    box-sizing: border-box;
    position: relative;
    &:hover{
      .stats-content{
        h4{
          color: white;
          transition: 0.7s;
        }
        h5{
          color: white;
          transition: 0.7s;
        }
      }
      .stats-icon{
        &.dine-in{
          box-shadow: 0 0 0 500px #0178e5;
        }
        &.online{
          box-shadow: 0 0 0 500px #F5697A;
        }
        &.take-away{
          box-shadow: 0 0 0 500px #FCBB36;
        }
        &.delivery{
          box-shadow: 0 0 0 500px #6EC9A8;
        }
      }
    }
    .stats-content{
      flex-grow: 1;
      h4{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 23px;
        color: #0C1F41;
        margin-bottom: 5px;
        transition: 0.7s;
        position: relative;
      }
      h5{
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        color: #B6BCC2;
        margin-bottom: 0;
        transition: 0.7s;
        position: relative;
      }
    }
    .stats-icon{
      //background-color: #4466f2;
      border-radius: 50%;
      color: #fff;
      height: 58px;
      margin-right: 30px;
      position: relative;
      width: 58px;
      box-shadow: 0 0 0 0 red;
     transition: 0.8s;
      &.dine-in{
        background-color: #0178e5;
        box-shadow: 0 0 0 0 #0178e5;
      }
      &.online{
        background-color: #F5697A;
        box-shadow: 0 0 0 0 #F5697A;
      }
      &.take-away{
        background-color: #FCBB36;
        box-shadow: 0 0 0 0 #FCBB36;
      }
      &.delivery{
        background: #6EC9A8;
        box-shadow: 0 0 0 0 #6EC9A8;
      }
      svg{
        height: 30px;
        left: 14px;
        position: absolute;
        top: 14px;
        width: 30px;
      }
    }
  }
  // Chart Card
  .guest-card{
    box-shadow:0 0 5px rgba(0,0,0,0.05);
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    //height: auto;
    //height:256px;
    overflow-x: hidden;
    overflow-y: hidden;
    .mapdiv{
      box-sizing: border-box;
    }
  }
  // Progress Chart
  .progress-chart{
    padding: 10px 15px;
    box-shadow:0 0 5px rgba(0,0,0,0.05);
    background: white;
    border-radius: 5px;
    margin: 10px 0;
    h4{
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #0C1F41;
      border-bottom: 1px solid #F6F6F6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 15px 0;
      .t-sales{
        color: rgb(82, 196, 26);
      }
      .d-target{
        color: rgb(245, 34, 45);
      }
    }
    .p-chart{
      text-align: center;
      padding: 30px 0;
      .chart-text{
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 18px;
        color: #B6BCC2;
        margin-bottom: 0;
      }
      .chart-percent{
        align-items: center;
        justify-content: center;
        display: flex;
        font-weight: 600;
        font-size: 53.75px;
        line-height: 55px;
        text-align: center;
        color: #0C1F41;
        small{
          font-size: 30px;
          margin: 0;
        }
      }
    }
    .sales-overview-box-5{
      padding: 10px 0;
      border-radius: 8px;
      ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        li{
          flex: 1 1 160px;
          padding: 5px 5px 5px 5px;
          border: none;
          .box{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            .box-icon{
              background: #F5F5F5;
              border-radius: 6px;
              width: 58px;
              height: 58px;
              display: flex;
              svg{
                margin: auto;
              }
            }
            .box-detail{
              flex: 1 1 auto;
              h4{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #B6BCC2;
                margin-bottom: 0;
                display: flex;
                width: 100%;
                padding: 0;
                border: none;
                span{
                  margin-left: auto;
                  color: #F5697A;
                }
              }
              p{
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                margin: 0;
                color: #F5697A;
              }
            }
            &.up{
              h4{
                span{
                  color: #6EC9A8;
                  svg{
                    transform: rotate(180deg);
                  }
                }
              }
              p{
                color: #6EC9A8;
              }
            }
          }
        }
      }
    }
  }

  //Vistor
  .visitor-count{
    background-color: white;
    padding: 24px 20px;
    border-radius: 5px;
    box-shadow:0 0 5px rgba(0,0,0,0.05);
    //height: 200px;
    h3{
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 20px;
      color: #0C1F41;
      /* identical to box height */
      margin-bottom: 20px;
      margin-top: auto;
    }
    ul{
      list-style: none;
      padding: 0;
      margin: 0 0 auto 0;
      //display: flex;
      //flex-wrap: wrap;
      li{
        flex: 1 1 150px;
        padding:5px 5px 5px 0;
        display: flex;
        justify-content: space-between;
        margin: 7px 0;
        span{
          font-style: normal;
          font-weight: 600;
          font-size: 17px;
          line-height: 18px;
          color: #B6BCC2;
          display: flex;
          align-items: center;
        }
        .number{
          svg{
            margin-right: 5px;
          }
        }
        &:nth-child(1){
          .number{
            color:#0178E5 ;
          }
        }
        &:nth-child(2){
          .number{
            color:#FCBB36 ;
          }
        }
        &:nth-child(3){
          .number{
            color:#6EC9A8;
          }
        }
      }
    } 
  }

//  Category Chart
  .category-chart{
    box-shadow:0 0 5px rgba(0,0,0,0.05);
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    margin: 10px 0 20px 0;
    height: 100%;
    h4{
      font-style: normal;
      font-weight: 600;
      font-size: 19px;
      line-height: 20px;
      color: #0C1F41;
      border-bottom: 1px solid #F6F6F6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0 15px 0;
    }
    .category-list{
      height: 243px;
      overflow-y: auto;
      padding-right: 10px;
      margin-bottom: 15px;
      &::-webkit-scrollbar {
        width: 3px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #0178E5;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #0178E5;
      }
    }
    ul{
      margin: 0;
      padding: 0;
      /* width */
      li{
        display: flex;
        border-bottom: 1px solid #F6F6F6;
        justify-content: space-between;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        padding:15px 0 ;
        color: #646C7C;
        &:last-child{
          border-bottom: none;
        }
        .stats-box{
          display: flex;
          .stats{
            width: 51px;
            height: 25px;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            &.up{
              background: #D6F5DD;
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              /* identical to box height */
              text-align: center;
              color: #26B657;
            }
            &.down{
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
              text-align: center;
              color: #F54747;
              background: #F5D6D6;
            }
          }
        }
      }
    }
    .heat-map, .ant-skeleton{
      height: 100%;
      width: 100%;
    }
  }
}

@media screen and (max-width: 990px){
  .dashboard-analyticsr {
    .guest-card {
      margin: 20px 0 20px 0;
    }
  }
}
