.email-marketing{
  .dfields{
    margin: 10px 0;
    label{
      font-weight: 600;
      margin :10px 0 8px 0
    }
  }

  .location-field{
    position: relative;
    .form-control{
      height: 50px;
      box-shadow: none;
      font-size: 21px;
      border: 1px solid var(--field-border-color);
      color: var(--field-color)
    }
    .autocomplete-dropdown-container{
      position: absolute;
      bottom: -1px;
      border-radius: 5px;
      transform: translate(0, 100%);
      background: white;
      border: 1px solid var(--field-border-color);
      border-top: none;
      width: 100%;
      z-index: 999;
      font-size: 17px;
      padding: 10px 10px;
    }

    input[aria-expanded="false"] + .autocomplete-dropdown-container{
      border: none;
    }
  }
  .selected-users{
    h5{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: var(--theme-label-color);
      margin-top: 20px;
    }
    .Select-field{
      .ant-select{
        height: auto !important;
        .ant-select-selector{
          height: auto !important;
          padding: 5px 5px !important;
        }
        .ant-select-selection-overflow{
          margin-top:0 ;
          .anticon-close{
            background: #0178E5;
            padding: 2px;
            border-radius: 50%;
            color: white;
          }
        }
      }
      .ant-select.ant-select-multiple{
        .ant-select-selection-item{
          font-size: 16px !important;
          font-weight: 400;
          color: var(--field-color);
          border-radius: 20px;
          padding: 0 10px;
          background-color: transparent;
        }
      }
    }
  }
}