.item-summary{
  .ant-table-content{
    .ant-table-cell-with-append{
      span{
        &:nth-of-type(2){
          margin-right: 20px;
          font-weight: bold;
          cursor: pointer;
          svg{
            margin-top: -2px;
          }
        }
      }
    }
  }
  .expand-btn{
    border: 1px solid #0178E5;
    color:#0178E5;
    padding: 5px 30px;
    margin: 20px 20px 20px 0;
  }

}