.menu-management{
  .menu-manage-fields {
    margin: 5px 0;

    label {
      margin: 10px 0;
      font-weight: 600;
      color: #646C7C;
    }
  }
  .estab-bts{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
  }
  .uplaod-section{
    display: flex;
    gap: 20px;
  }
  .uploded-image{
    border: 1px solid var(--field-border-color);
    height: 100px;
    width: 120px;
    object-fit: contain;
    padding: 10px;
    border-radius: 5px;
  }
  .im-bin{
    cursor: pointer;
    position: absolute;
    //top: 40%;
    //left: 43%;
    font-size: 22px;
    background: #F01D2C;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    color: white;
  }
  .upload {
    position: relative;
    //left: 50%;
    //top: 50%;
    //transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--field-border-color);
    border-radius: 5px;
    width: 120px;
     height: 100px;
    justify-content: center;

    p {
      font-size: 1.1rem;
      font-weight: 600;
    }

    label {
      cursor: pointer;

      input {
        display: none;
      }

      span {
        position: relative;
        width: 60px;
        height: 60px;
        border: 1px dashed;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform .4s;

        i {
          position: absolute;
          font-size: 25px;
        }

        &:hover {
          transform: scale(0.8);
        }
      }
    }
  }

  .theme-tabs{
    .ant-tabs{
      &.error-product{
        .ant-tabs-nav-list{
          .ant-tabs-tab{
            &:nth-child(1){
              .ant-tabs-tab-btn{
                color: red !important;
              }
              &.ant-tabs-tab-active{
                #rc-tabs-1-tab-1{
                  color: red;
                }
              }
            }

          }
          .ant-tabs-ink-bar {
            position: absolute;
            background: red;
            pointer-events: none;
          }
        }
      }
      &.error-printer{
        .ant-tabs-nav-list{
          .ant-tabs-tab{
            &:nth-child(3){
              .ant-tabs-tab-btn{
                color: red !important;
              }
              &.ant-tabs-tab-active{
                #rc-tabs-1-tab-1{
                  color: red;
                }
              }
            }

          }
          .ant-tabs-ink-bar {
            position: absolute;
            background: red;
            pointer-events: none;
          }
        }
      }
    }
  }
}
