.push-notifications{
  h3{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #1C212D;
    margin-bottom: 20px;
    span{
      font-size: 14px;
    }
  }
  .push-filter{
    .dfields{
      label{
        font-size: 12px;
        margin: 5px 0;
        font-weight: 600;
      }
      .ant-space{
        gap: 0px !important;
      }
      .ant-picker-range{
        height: 30px;
        border-radius: 5px;
      }
      .Select-field{
        height: 30px;
        label{
          font-size: 12px;
          margin: 5px 0;
        }
        .ant-select{
          font-size: 14px;
          .ant-select-selector{
            height: 30px !important;
            .ant-select-selection-overflow{
              margin-top: -15px;
            }
            .ant-select-selection-search-input{
              line-height: 28px;
              font-size: 14px !important;
              height: 30px !important;
              color: var(--field-color);
              font-weight: 600;
            }
          }
          .ant-select-selection-item{
            font-size: 14px !important;
            font-weight: 400;
            color: var(--field-color);
            height: 20px;
            line-height: 14px;
          }
          .ant-select-selection-placeholder{
            font-size: 14px !important;
            line-height: 14px;
          }
        }

      }
    }
    .dropdown-field{
      label{
        font-size: 12px;
        margin: 5px 0;
        font-weight: 600;
      }
      .dropdown{
        .dropdown-toggle{
          width: 100%;
          text-align: left;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;
          background: transparent;
          border: 1px solid var(--field-border-color);
          font-size: 14px;
          border-radius: 3px;
        }
      }
      .dropdown-menu{
        min-width: 24rem;
        .max-min-amount{
          padding: 10px 10px;
          h5{
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #0178E5;
          }
          .h-fields{
            display: flex;
          }
          .dfields{
            display: flex;
            align-items: center;
            position: relative;
            label{
              margin-right: 10px;
            }
            .label-out.field-box{
              height: 10px;
            }
            .field-box{
              margin-right: 10px;
              .form-group{
                .form-control{
                  font-size: 14px;
                }
              }
            }
            .errors{
              position: absolute;
              bottom: -20px;
              left: 21px;
            }
          }
        }
      }
    }
    .ThemeBtn{
      margin-bottom: 10px;
      .btn{
        height: 30px;
        padding: 0;
      }
    }
  }
  .dfields{
    margin: 10px 0;
  }
  label{
    font-weight: 600;
    margin :10px 0 8px 0
  }
  .selected-users{
    h5{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 18px;
      color: var(--theme-label-color);
      margin-top: 20px;
    }
    .Select-field{
      .ant-select{
        height: auto !important;
        .ant-select-selector{
          height: auto !important;
          padding: 5px 5px !important;
        }
        .ant-select-selection-overflow{
          margin-top:0 ;
          .anticon-close{
            background: #0178E5;
            padding: 2px;
            border-radius: 50%;
            color: white;
          }
        }
      }
      .ant-select.ant-select-multiple{
        .ant-select-selection-item{
          font-size: 16px !important;
          font-weight: 400;
          color: var(--field-color);
          border-radius: 20px;
          padding: 0 10px;
          background-color: transparent;
        }
      }
    }
  }

  .preview{
    background-color: #F8F8F8;
    padding: 40px 40px;
    .push-box{
      background-color: white;
      border-radius: 15px;
      max-width: 483px;
      margin: auto;
      .push-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 70px;
        padding: 10px 30px;
        h3{
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 17px;
          color: #333333;
          margin: 0;
        }
        span{
          svg{
            font-size: 30px;
            color: #D9D9D9;
          }
        }
      }
      .push-body{
        padding: 20px 30px;
        h4{
          font-weight: 700;
          font-size: 16px;
          line-height: 17px;
          color: #333333;
        }
        p{
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          color: #777777;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
    .push-filter{
      .max-min-amount{
        h5{
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 20px;
          color: #0178E5;
          margin-top: 15px;
        }
        .h-fields{
          display: flex;
          gap: 10px;
          .field-area-out{
            margin: 0;
          }
        }
      }
      .filter-btn{
        margin-top: 15px;
      }
    }
}

