.sales-summary{
  ul{
    display: flex;
    flex-wrap: wrap;
    li{
      max-width: 300px;
    }
  }
  .left-col{
  }
  .right-col{
    border-left: 1px solid #e2e2e2;
    padding-left: 5%;
    ul{
      li{
        padding: 25px 15px 0 0;
        .stats-boxes{
          border-right: 1px solid #DCDCDC;
          padding: 0 20px 0 0;
          h5{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #B6BCC2;
            margin: 0;
          }
          p{
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #0178E5;
            margin: 0;
          }

        }
        .takeaway{
          p{
            color:#FCBB36 !important;
          }
        }
        .delivery {
          p {
            color: #6EC9A8 !important;
          }
        }
        &:last-child{
          .stats-boxes{
            border-right: none;
            h5{
              font-size: 24px;
            }
            p{
              font-size: 34px;
              color: #0178E5;
            }
          }
        }
      }
    }
    .order-boxes-section{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: space-around;
      margin: 20px 0;
        .order-boxes{
          padding: 20px 10px;
          min-width: 30%;
          max-height: 90px;
          border: 1px solid #e2e2e2;
          display: flex;
          align-items: center;
          gap: 20px;
          flex: 1 1 25%;
          .icon-box{
            background: #F5F5F5;
            padding: 10px;
            border-radius: 10px;
            border-bottom: 1px solid #d2d2;
          }
          .content{
            width: 100%;
            display: flex;
            align-items: start;
            justify-content: center;
            flex-direction: column;
            h6{
              margin: 0;
              font-weight: 400;
              font-size: 14px;
              color: #B6BCC2;
            }
            p{
              font-style: normal;
              font-weight: 600;
              font-size: 20px;
              margin: 0;
              padding: 0;
              display: flex;
              color: #646C7C;
              justify-content: space-between;
              width: 100%;
              span{
                font-size: 20px;
                color: #0178E5;
                text-align: right;
                margin-left: auto;
              }
            }
          }
        }
    }
  }
}

@media screen and (max-width: 1500px){
  .sales-summary{
    .right-col{
      .order-boxes-section{
        .order-boxes{
          flex: 1 1 33%;
        }
      }
    }
  }
}