.transaction-detail{
  hr{
    background: var(--hr);
  }
  .transaction-detail-header{
    display: flex;
    align-items: center;
    justify-content: start;
    .user-detail-box{
      margin: 0 10px;
      display: flex;
      align-items: center;
      justify-content: start;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height */
      /* 646C7C */
      color: var(--tab-heading-colors);
      span{
        margin-right: 5px;
      }
      p{
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
  .transaction-status{
    h2{
      font-size: 30px;
      margin-bottom: 5px;
      color: var(--text-color-dark);
    }
    ul{
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      margin-top: 30px;
      li{
        margin: 0 20px 0 0;
        padding: 0 20px 0 0;
        border-right: 1px solid var(--ant-table-border);
        &:first-child{
          padding-left: 0;
        }
        p{
          margin: 0;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
          /* or 140% */
          color: var(--text-color-greyblue);
        }
        span{
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 19px;
          /* identical to box height */
          color: #0178E5;
        }
      }
    }
  }
  .fix-width {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .scroll-inner {
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-track {
      background-color: transparentize(#ccc, 0.7);
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: transparentize(#ccc, 0.5);
      box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }
  }
  table {
    border: 1px solid var(--ant-table-border);
    border-collapse: collapse;
    margin: 10px 0 0 0;
    padding: 0;
    width: 100%;
    min-width: 700px;
    table-layout: fixed;
    tr {
      border-bottom: 1px solid var(--ant-table-border);
      padding: 10px 10px;
      th{
        background-color: var(--ant-table-th-background);
        color: white;
        font-size: 15px;
        font-weight: 500;
        padding: 10px 10px;
        text-align: left;
        position: relative;
        &:before{
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 1.2em;
          background-color: #DEDEDE;
          transform: translateY(-50%);
          transition: background-color 0.2s;
          content: '';
          transition: 0.2s all;

        }
        &:last-child{
          &:before{
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }
      td {
        padding: 10px 10px;
        text-align: left;
        position: relative;
        color:var(--theme-grey-text);
        &:before{
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 1.2em;
          background-color: var(--ant-table-td-border);
          transform: translateY(-50%);
          transition: background-color 0.2s;
          content: '';
          transition: 0.2s all;

        }
        &:first-child{
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          /* identical to box height */
          color: var(--theme-grey-text);
        }
        &:last-child{
          &:before{
            background-color: rgba(0, 0, 0, 0);
          }
        }
      }

      &.calculation{
        td{
          padding: 5px;
          &:nth-child(1){
            &:before{
              background-color: transparent;
            }
          }
          &:nth-child(2){
            display: flex;
            align-items: center;
            justify-content: end;
            text-align: right;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            /* identical to box height */
            color: var(--theme-grey-text);
            position: relative;
            &:before{
              position: absolute;
              content:':';
              top: 55%;
              right: 1%;
              width: 1px;
              height: 1.2em;
              background-color: transparent;
              transform: translateY(-45%);
              color:var(--ant-table-td-border);
              font-size: 20px;

            }
          }
          &:nth-child(3){
            padding-left: 10px;
          }
          .cal-title{
            min-width: 150px;
            text-align: left;
          }
        }
      //  Total
        &.total{
          td{
            &:nth-child(2){
              display: flex;
              align-items: center;
            }
            .cal-title{
              height: 60px;
              display: flex;
              align-items: center;
            }
          }
          .total-count{
            font-size: 30px;
            font-weight: 600;
          }

        }
      }
    }

  }

  //@media screen and (max-width: 600px) {
  //  table {
  //    border: 0;
  //  }
  //
  //  table caption {
  //    font-size: 1.3em;
  //  }
  //
  //  table thead {
  //    border: none;
  //    clip: rect(0 0 0 0);
  //    height: 1px;
  //    margin: -1px;
  //    overflow: hidden;
  //    padding: 0;
  //    position: absolute;
  //    width: 1px;
  //  }
  //
  //  table tr {
  //    border-bottom: 3px solid #ddd;
  //    display: block;
  //    margin-bottom: .625em;
  //  }
  //
  //  table td {
  //    border-bottom: 1px solid #ddd;
  //    display: block;
  //    font-size: .8em;
  //    text-align: right;
  //  }
  //
  //  table td::before {
  //    /*
  //    * aria-label has no advantage, it won't be read inside a table
  //    content: attr(aria-label);
  //    */
  //    content: attr(data-label);
  //    float: left;
  //    font-weight: bold;
  //    text-transform: uppercase;
  //  }
  //
  //  table td:last-child {
  //    border-bottom: 0;
  //  }
  //}
}

@media screen and (max-width: 1464px){
  .transaction-detail{
    .transaction-status{
      ul{
        li{
          margin: 15px 20px 15px 0;
          border-right: none;
        }
      }
    }
  }
}